# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables (IMPORTANT)
.env

# MacOS
.DS_Store

# Logs
*.log

# VS Code
.vscode/

# Build / cache
dist/
build/
*.egg-info/